{% extends 'base.html' %}
{% block content %}
<header class="masthead bg-index text-center py-4" style="color: #89CFF0;">
  <div class="container d-flex align-items-center flex-column pt-2">
     <h2 style="font-size: 3rem; font-weight: bold; text-shadow:3px 3px 0px rgba(0, 0, 0, 1), 6px 6px 0px rgba(0, 0, 0, 1), 9px 9px 3px rgba(0, 0, 0, 1);">Buzz's Movies Store</h2>
      <p style="font-size: 1.5rem; font-weight: bold; text-shadow:2px 2px 0px rgba(0, 0, 0, 1), 4px 4px 0px rgba(0, 0, 0, 1), 6px 6px 4px rgba(0, 0, 0, 1);">Your Ticket to Unlimited Entertainment!</p>
  </div>
</header>
<div class="p-3">
  <div class="container">
    <div class="row mt-3">
      <div class="col mx-auto text-center mb-3">
        <h4>Welcome to the best movie store!!</h4>
      </div>
    </div>
  </div>
</div>
{% endblock content %}
